<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}" >
<body>
<head>
    <script type="text/javascript" th:src="@{/static/js/group/groupSelector.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/custom/mng/groupList.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/custom/mng/teamTable.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/custom/mng/randomModal.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/custom/mng/tierPointPlugin.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/custom/mng/gameDataPlugin.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/custom/mng/main.js}"></script>
    <style>
        #banChamps img { margin-left: 10px; margin-right: 10px; background-color: black;}
        img.gameDataGroup { background-color: black; opacity: 0.8; }
    </style>
</head>
<div layout:fragment="content">
    <div id="team" style="border: 1px; margin-top: 20px" class="row team">
        <div class="input-group" sec:authorize="hasRole('ROLE_USER')" style="margin-bottom: 20px">
            <div style="width: 100%">
                <input type="text" class="form-control" id="seasonName" style="width: 10%; display: inline;" placeholder="시즌명" readonly>
                <input type="button" class="btn btn-danger f-r" value="게임데이터 OFF" id="toggleGameData" data-game-toggle="off">
                <input type="button" class="btn btn-danger f-r mr10" value="티어표 OFF" id="toggleTierPoint" data-tier-toggle="off">
            </div>
        </div>
        <div class="input-group h60px" sec:authorize="hasRole('ROLE_USER')" style="margin-bottom: 20px">
            <span class="input-group-text">승리팀</span>
            <input type="button" class="btn btn-outline-primary form-control" value="A팀 승리" data-team="a" name="winner_btn">
            <input type="button" class="btn btn-outline-success form-control" value="B팀 승리" data-team="b" name="winner_btn" >
        </div>
        <div class="gameDataGroup input-group" id="banChamps" style="display: none;">
            <span class="input-group-text">밴</span>
            <div style="width: calc(50% - 40px); background-color: red; opacity: 0.8">
                <img class="h60px w60px f-r" data-team="a" data-ban-order="1"/>
                <img class="h60px w60px f-r" data-team="a" data-ban-order="2"/>
                <img class="h60px w60px f-r" data-team="a" data-ban-order="3"/>
                <img class="h60px w60px f-r" data-team="a" data-ban-order="4"/>
                <img class="h60px w60px f-r" data-team="a" data-ban-order="5"/>
            </div>
            <div style="width: calc(50% - 40px); background-color: blue; opacity: 0.8">
                <img class="h60px w60px f-l" data-team="b" data-ban-order="1"/>
                <img class="h60px w60px f-l" data-team="b" data-ban-order="2"/>
                <img class="h60px w60px f-l" data-team="b" data-ban-order="3"/>
                <img class="h60px w60px f-l" data-team="b" data-ban-order="4"/>
                <img class="h60px w60px f-l" data-team="b" data-ban-order="5"/>
            </div>
        </div>
        <div class="input-group h60px">
            <span class="input-group-text">팀</span>
            <input type="text" class="form-control" readonly value="A" style="justify-content: center;  width: 40%">
            <input type="text" name="tearPointSum" data-team="a" value="0" class="tierPointGroup form-control" style="width: 5%; display: none; background-color: white" readonly>
            <input type="text" name="tearPointSum" data-team="b" value="0" class="tierPointGroup form-control" style="width: 5%; display: none; background-color: white" readonly>
            <input type="text" class="form-control" readonly value="B" style="justify-content: center;  width: 40%">
        </div>
        <div class="input-group team-position h60px" data-position="top">
            <span class="input-group-text">탑</span>
            <input type="text" class="form-control" name="team_a" data-team="a">
            <img class="gameDataGroup h60px w60px" style="display: none" data-team="a" />
            <img class="gameDataGroup h60px w60px" style="display: none" data-team="b" />
            <input type="text" class="form-control" name="team_b" data-team="b">
        </div>
        <div class="input-group team-position h60px" data-position="jg">
            <span class="input-group-text">정글</span>
            <input type="text" class="form-control" name="team_a" data-team="a">
            <img class="gameDataGroup h60px w60px" style="display: none" data-team="a" />
            <img class="gameDataGroup h60px w60px" style="display: none" data-team="b" />
            <input type="text" class="form-control" name="team_b" data-team="b">
        </div>
        <div class="input-group team-position h60px" data-position="mid">
            <span class="input-group-text">미드</span>
            <input type="text" class="form-control" name="team_a" data-team="a">
            <img class="gameDataGroup h60px w60px" style="display: none" data-team="a" />
            <img class="gameDataGroup h60px w60px" style="display: none" data-team="b" />
            <input type="text" class="form-control" name="team_b" data-team="b">
        </div>
        <div class="input-group team-position h60px" data-position="bot">
            <span class="input-group-text">봇</span>
            <input type="text" class="form-control" name="team_a" data-team="a">
            <img class="gameDataGroup h60px w60px" style="display: none" data-team="a" />
            <img class="gameDataGroup h60px w60px" style="display: none" data-team="b" />
            <input type="text" class="form-control" name="team_b" data-team="b">
        </div>
        <div class="input-group team-position h60px" data-position="sup">
            <span class="input-group-text">서폿</span>
            <input type="text" class="form-control" name="team_a" data-team="a">
            <img class="gameDataGroup h60px w60px" style="display: none" data-team="a" />
            <img class="gameDataGroup h60px w60px" style="display: none" data-team="b" />
            <input type="text" class="form-control" name="team_b" data-team="b">
        </div>
        <div class="input-group h60px">
            <span class="input-group-text">라인랜덤</span>
            <input type="button" class="btn btn-primary form-control" value="랜덤" data-team="a" name="random_team">
            <input type="button" class="btn btn-success form-control" value="랜덤" data-team="b" name="random_team" >
        </div>
    </div>
    <div id="summonerList" class="row" style="margin-top: 20px">
        <div class="input-group">
            <input type="button" class="btn btn-secondary form-control" value="새팀 만들기" name="new_team" >
            <input type="button" class="btn btn-primary form-control" value="그룹에서 팀뽑기" name="group_list_check" sec:authorize="hasRole('ROLE_USER')">
            <input type="button" class="btn btn-success form-control" value="내전 생성" name="group_list_apply" sec:authorize="hasRole('ROLE_USER')" style="display: none;">
            <input type="button" class="btn btn-warning form-control" value="팀장 뽑기" name="select_leader" style="display: none">
        </div>
        <div class="input-group" style="margin-top: 20px; display: none" sec:authorize="hasRole('ROLE_USER')" name="filter_text">
            <input class="form-control" type="text" placeholder="검색어" aria-label="default input example">
        </div>
    </div>
    <div id="groupUserList" class="row" style="margin-top: 20px;" sec:authorize="hasRole('ROLE_USER')">
        <h5 name="pick-count" style="display:none;">선택된 유저 : 0</h5>
        <div th:replace="~{fragments/fragments :: groupSelector}"></div>
        <div class="list-group" style="margin-top: 20px; padding-left: 12px; display: none;">
            <label class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="">
                Cras justo odio
            </label>
        </div>
    </div>
    <div class="modal fade" id="modalRandomTeam" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabelTeam" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabelTeam">포지션 변경</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body team">
                    <div class="input-group" data-position="top">
                        <span class="input-group-text">탑</span>
                        <input type="text" class="form-control">
                    </div>
                    <div class="input-group" data-position="jg">
                        <span class="input-group-text">정글</span>
                        <input type="text" class="form-control">
                    </div>
                    <div class="input-group" data-position="mid">
                        <span class="input-group-text">미드</span>
                        <input type="text" class="form-control">
                    </div>
                    <div class="input-group" data-position="bot">
                        <span class="input-group-text">봇</span>
                        <input type="text" class="form-control">
                    </div>
                    <div class="input-group" data-position="sup">
                        <span class="input-group-text">서폿</span>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" name="randomBtn">랜덤</button>
                    <button type="button" class="btn btn-primary" name="applyBtn">적용하기</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalRandomLeader" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">리더 뽑기</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body team">
                    <div class="input-group" data-team="A">
                        <span class="input-group-text">A팀</span>
                        <input type="text" name="summonerName" class="form-control" style="width: 65%">
                        <input type="text" class="tierPointGroup form-control" style="width: 5%; display: none" readonly>
                    </div>
                    <div class="input-group" data-team="B">
                        <span class="input-group-text">B팀</span>
                        <input type="text" name="summonerName" class="form-control" style="width: 65%">
                        <input type="text" class="tierPointGroup form-control" style="width: 5%; display: none;" readonly>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" name="randomBtn">랜덤</button>
                    <button type="button" class="btn btn-primary" name="applyBtn">적용하기</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
