<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<body>

<div layout:fragment="content">
    <div th:replace="~{fragments/fragments :: groupSelector}"></div>
    <ul class="nav nav-tabs" style="margin-top: 20px" id="menuTab">
        <li class="nav-item">
            <a class="nav-link active" href="#" data-menu="manage-auth">권한관리</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" data-menu="invite">초대 이력</a>
        </li>
    </ul>
    <table class="table switch-group manage-auth" id="manageAuthTable">
        <colgroup>
            <col width="10%">
            <col width="80%">
            <col width="10%">
        </colgroup>
        <thead id="groupAutheListHeader">
        <tr>
            <th scope="col">#</th>
            <th scope="col">User</th>
            <th scope="col">권한</th>
        </tr>
        </thead>
        <tbody id="groupAuthList">
        </tbody>
    </table>

    <table class="table switch-group invite" id="inviteHistoryTable" style="display: none">
        <colgroup>
            <col width="10%">
            <col width="20%">
            <col width="30%">
            <col width="30%">
            <col width="10%">
        </colgroup>
        <thead>
        <tr>
            <th scope="col">아이디</th>
            <th scope="col">수락여부</th>
            <th scope="col">초대일자</th>
            <th scope="col">응답일자</th>
            <th scope="col">초대취소</th>
        </tr>
        </thead>
        <tbody id="inviteHistory">
        </tbody>
    </table>

    <div id="modifyAuth" class="switch-group manage-auth" style="float:right">
        <form class="form-inline" id="modifyForm">
            <button type="button" class="btn btn-primary">저장</button>
        </form>
    </div>
    <div id="inviteTab" class="switch-group invite" style="float:right; display: none;" >
        <form class="form-inline" id="inviteForm">
            <input type="text" name="lolcwTag" placeholder="LOLCWTAG 입력">
            <input type="button" class="btn btn-primary" name="searchUser"  onclick="getUserByLolTag()" value="검색"/>
            <input type="text" name="userId" placeholder="유저아이디" readonly>
            <input type="hidden" name="userSeq">
            <input type="button" class="btn btn-primary" name="inviteUser" disabled="disabled" onclick="groupInvite()" value="초대하기"/>
        </form>
    </div>
</div>
</body>
<script>
    $('a[href="#settings"]').tab('show');
</script>
<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/static/js/group/groupSelector.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/group/auth.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/group/auth_event.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/group/auth/main.js}"></script>
</th:block>
</html>
