<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}" >
<body>
<head>
    <script type="text/javascript" th:src="@{/static/js/group/groupSelector.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/group/synergy/selector.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/group/synergy/main.js}"></script>
</head>
<div layout:fragment="content">
    <div style="display: flex">
        <div th:replace="~{fragments/fragments :: groupSelector}"></div>
        <select id="season" class="form-select" aria-label="Default select example" style="width: 20%; margin-left: 20px; margin-top: 20px;">
            <option value="0" selected disabled>시즌을 선택해주세요</option>
        </select>
        <select id="customUserSelect" class="form-select" aria-label="Default select example" style="width: 20%; margin-left: auto; margin-top: 20px;">
            <option value="0" selected disabled>닉네임을 선택해주세요</option>
        </select>
    </div>
    <div style="margin-top: 20px">
        <h4 style="color: dodgerblue">시너지</h4>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">닉네임</th>
                <th scope="col">소환사명</th>
                <th scope="col">Total</th>
                <th scope="col">Win</th>
                <th scope="col">승률(%)</th>
                <th scope="col">마지막게임일</th>
            </tr>
            </thead>
            <tbody id="synergy">
            </tbody>
        </table>
    </div>
    <div style="margin-top: 20px">
        <h4 style="color: orangered">상성</h4>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">닉네임</th>
                <th scope="col">소환사명</th>
                <th scope="col">Total</th>
                <th scope="col">Win</th>
                <th scope="col">승률(%)</th>
                <th scope="col">마지막게임일</th>
            </tr>
            </thead>
            <tbody id="badSynergy">
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
