@charset "UTF-8";

.textInput { width: 200px }
.boder1 {border: 1px solid}
.w300px {width: 300px}
@media screen and (max-device-width: 580px) {
    body { margin: auto !important; width: 100%}
}
@media screen and (min-device-width: 580px) {
    body { margin: auto !important; width: 70%}
}
.team .input-group .input-group-text { width: 80px; justify-content: center;}
.team div.input-group input.form-control { text-align: center; }

.hover-underline:hover {
    text-decoration: underline;
}

/* 기본 css */
.f-l { float: left !important; }
.f-r { float: right !important; }
.h50px { height: 50px !important; }
.h60px { height: 60px !important; }
.h120px {height: 120px !important; }
.mr10 { margin-right: 10px; }
.ta-c { text-align: center !important; }
.w50px { width: 50px !important; }
.w60px { width: 60px !important; }
.w120px { width: 120px !important; }